# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE config
*.idea
*.vscode

/html
/static
/tem
*.log
/docker-db
/data
/init
/docker-conf
/logs
/redis_data
/redis_logs
goweb
